body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* transitions */
.page-content-enter {
  opacity: 0;
}

.page-content-enter.page-content-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.page-content-leave {
  opacity: 0;
}

